<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>保存keystore</title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/jquery.url.js"></script>
    <script src="js/wallet.js"></script>

</head>
<body>
<div id="nav"></div>
<script>
    $("#nav").load("html/nav.html")
</script>

<div id="main">
    <div id="save-keystore">
        <h3>保存你的keystore</h3>
        <a href="<%= downloadurl %>">下载keystore文件</a>
        <br>
        <button onclick="saveKeystoreNext()">下一步</button>
    </div>
    <div id="save-privatekey" style="display: none">
        <h3>保存你的私钥</h3>
        <div>
            <%= privatekey %>
        </div>
    </div>
</div>

</body>
</html>