<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建钱包</title>
    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/js/lib/jquery.url.js"></script>
    <script src="../static/js/wallet.js"></script>
    <link rel="stylesheet" href="css/wallet.css">
</head>
<body>
<div id="nav"></div>
<script>
    $('#nav').load('html/nav.html')
</script>

<div id="main">
    <h3>发送ETH或者Token</h3>
    <div id="transaction-first">
        <input type="radio" id="unlock-account-type-keystore" name="unlocktype" value="1">
        <label for="unlock-account-type-keystore">keystore</label>
        <br>
        <input type="radio" id="unlock-account-type-privatekey" name="unlocktype" value="2">
        <label for="unlock-account-type-privatekey">privatekey</label>

        <div id="unlock-account-keystore" style="display: none">
            <h4>请选择你的keystore文件</h4>
            <input type="file" id="unlock-account-file">
            <br>
            <input type="password" id="unlock-account-password">
            <button onclick="unlockAccountWithKeystore()">解锁</button>
        </div>

        <div id="unlock-account-privatekey" style="display: none">
            <h4>请输入私钥</h4>
            <textarea id="input-privatekey" rows="3"></textarea>
            <br>
            <button onclick="unlockAccountWithPrivatekey()">解锁</button>
        </div>

        <div id="transaction-second" style="display: none">
            <div id="send-transaction">
                <form id="send-transaction-form">
                    <div>
                        <span>对方地址</span>
                        <input type="text" name="toaddress">
                    </div>
                    <div>
                        <span>发送金额</span>
                        <input type="text" name="number">
                    </div>
                    <input name="fromaddress" hidden="hidden">
                    <input name="privatekey" hidden="hidden">
                    <button type="submit">发送交易</button>
                </form>
            </div>

            <div id="account-info">
                <div>
                    <span>账户地址：</span>
                    <span id="account-address"></span>
                </div>

                <div>
                    <span>账户余额</span>
                    <span id="account-balance"></span>
                </div>
            </div>

            <br>
            <div id="transaction-complate" style="display: none">
                <div>
                    <span>交易hash</span>
                    <span id="transaction-complate-hash"></span>
                </div>
                <div>
                    <span>block hash</span>
                    <span id="transaction-complate-blockhash"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>